## Series 
Series is a one-dimensional array like object containing an array of data(any Numpy data type, and an associated array of data labels, called its index.

In [10]:
import pandas as pd
ser= pd.Series([5,4,3,2,1])   # a simple series print(mjp)  

print(ser)
ser.values
print(ser.index)

0    5
1    4
2    3
3    2
4    1
dtype: int64
RangeIndex(start=0, stop=5, step=1)

In [16]:
jeeva = pd.Series([5,4,3,2,1,-7,-29], index =['a','b','c','d','e','f','h'])   # The index is specified 
print(jeeva)
jeeva.index

a     5
b     4
c     3
d     2
e     1
f    -7
h   -29
dtype: int64

Index(['a', 'b', 'c', 'd', 'e', 'f', 'h'], dtype='object')

In [17]:
jeeva['d'] = 9   # change the value of a particular element in series

In [18]:
jeeva

a     5
b     4
c     3
d     9
e     1
f    -7
h   -29
dtype: int64

In [19]:
jeeva['d'] = 9   # change the value of a particular element in series 
print(jeeva[jeeva>0])

a    5
b    4
c    3
d    9
e    1
dtype: int64

In [20]:
print(jeeva *2)  # multiplies 2 to each element of a series

a    10
b     8
c     6
d    18
e     2
f   -14
h   -58
dtype: int64

In [22]:
import numpy as np 
np.mean(jeeva)  # you can apply numpy functions to a Series

-2.0

In [27]:
player_salary ={'Rooney': 50000, 'Messi': 75000, 'Ronaldo': 85000, 'Fabregas':40000, 'Van persie': 67000} 

new_player = pd.Series(player_salary)  # converting a dictionary to a series print(new_player)   # the series has keys of a dictionary 
print(new_player)

Rooney        50000
Messi         75000
Ronaldo       85000
Fabregas      40000
Van persie    67000
dtype: int64

In [31]:
players =['Klose', 'Messi', 'Ronaldo', 'Van persie', 'Ballack'] 

player_1 =pd.Series(player_salary, index= players) 
print(player_1)

Klose             NaN
Messi         75000.0
Ronaldo       85000.0
Van persie    67000.0
Ballack           NaN
dtype: float64

In [41]:
print(pd.isnull(player_1))  #checks for Null values in player_1, pd denotes a pandas dataframe 

print(pd.isnull(player_1))

Klose          True
Messi         False
Ronaldo       False
Van persie    False
Ballack        True
dtype: bool
Klose          True
Messi         False
Ronaldo       False
Van persie    False
Ballack        True
dtype: bool

## Data Frame 
Data frame is a spread sheet like structure, containing ordered collection of columns. Each column can have different value type. Data frame has both row index and column index.

In [46]:
states ={'State' :['Gujarat', 'Tamil Nadu', ' Andhra', 'Karnataka', 'Kerala'], 
                  'Population': [36, 44, 67,89,34], 
                  'Language' :['Gujarati', 'Tamil', 'Telugu', 'Kannada', 'Malayalam']} 

india = pd.DataFrame(states)   # creating a data frame 
print(india)

        State  Population   Language
0     Gujarat          36   Gujarati
1  Tamil Nadu          44      Tamil
2      Andhra          67     Telugu
3   Karnataka          89    Kannada
4      Kerala          34  Malayalam

In [49]:
 new_frame = pd.DataFrame(states, columns=['State', 'Language', 'Population', 'Per Capita Income'], index 
=['a','b','c','d','e']) # change the sequence of column index

In [50]:
print(new_frame)

        State   Language  Population Per Capita Income
a     Gujarat   Gujarati          36               NaN
b  Tamil Nadu      Tamil          44               NaN
c      Andhra     Telugu          67               NaN
d   Karnataka    Kannada          89               NaN
e      Kerala  Malayalam          34               NaN

In [53]:
print(new_farme.columns)

Index(['State', 'Language', 'Population', 'Per Capita Income'], dtype='object')
a       Gujarat
b    Tamil Nadu
c        Andhra
d     Karnataka
e        Kerala
Name: State, dtype: object

In [54]:
print(new_farme['State'])   # retrieveing data like dictionary

a       Gujarat
b    Tamil Nadu
c        Andhra
d     Karnataka
e        Kerala
Name: State, dtype: object

In [55]:
print(new_farme.Population)  # like Series

a    36
b    44
c    67
d    89
e    34
Name: Population, dtype: int64

In [56]:
print(new_farme.iloc[3])   # rows can be retrieved using .iloc function

State                Karnataka
Language               Kannada
Population                  89
Per Capita Income          NaN
Name: d, dtype: object

In [57]:
C

        State   Language  Population Per Capita Income
a     Gujarat   Gujarati          36               NaN
b  Tamil Nadu      Tamil          44               NaN
c      Andhra     Telugu          67               NaN
d   Karnataka    Kannada          89               NaN
e      Kerala  Malayalam          34               NaN

In [64]:

new_farme['Per Capita Income'] = 99  # the empty per capita income column can be assigned a value

In [65]:
print(new_frame)

        State   Language  Population Per Capita Income
a     Gujarat   Gujarati          36               NaN
b  Tamil Nadu      Tamil          44               NaN
c      Andhra     Telugu          67               NaN
d   Karnataka    Kannada          89               NaN
e      Kerala  Malayalam          34               NaN

In [68]:
new_farme['Per Capita Income'] = np.arange(5)   # assigning a value to the last column

In [69]:
print(new_frame)

        State   Language  Population Per Capita Income
a     Gujarat   Gujarati          36               NaN
b  Tamil Nadu      Tamil          44               NaN
c      Andhra     Telugu          67               NaN
d   Karnataka    Kannada          89               NaN
e      Kerala  Malayalam          34               NaN

In [71]:
series = pd.Series([44,33,22], index =['b','c','d']) 

new_farme['Per Capita Income'] = series

In [72]:
print(new_frame)

        State   Language  Population Per Capita Income
a     Gujarat   Gujarati          36               NaN
b  Tamil Nadu      Tamil          44               NaN
c      Andhra     Telugu          67               NaN
d   Karnataka    Kannada          89               NaN
e      Kerala  Malayalam          34               NaN

## Reindex

In [75]:
var = pd.Series(['Python', 'Java', 'c', 'c++', 'Php'], index =[5,4,3,2,1])

5    Python
4      Java
3         c
2       c++
1       Php
dtype: object

In [77]:
print(var) 
var1 = var.reindex([1,2,3,4,5])  # reindex creates a new object  print(var1)

5    Python
4      Java
3         c
2       c++
1       Php
dtype: object

In [78]:
print(var1)

1       Php
2       c++
3         c
4      Java
5    Python
dtype: object

In [79]:

print(var.reindex([1,2,3,4,5,6,7]))  # introduces new indexes with values Nan

1       Php
2       c++
3         c
4      Java
5    Python
6       NaN
7       NaN
dtype: object

In [80]:
print(var.reindex([1,2,3,4,5,6,7], fill_value =1))

1       Php
2       c++
3         c
4      Java
5    Python
6         1
7         1
dtype: object

In [98]:
gh = pd.Series(['Dhoni', 'Sachin', 'Kohli'], index =[0,2,4]) 
print(gh)

0     Dhoni
2    Sachin
4     Kohli
dtype: object

In [99]:

print(gh.reindex(range(6), method ='ffill')) #ffill is forward fill. It forward fills the values

0     Dhoni
1     Dhoni
2    Sachin
3    Sachin
4     Kohli
5     Kohli
dtype: object

In [100]:
print(gh.reindex(range(6), method ='bfill'))# bfill, backward fills the values

0     Dhoni
1    Sachin
2    Sachin
3     Kohli
4     Kohli
5       NaN
dtype: object

In [102]:

fp = pd.DataFrame(np.arange(9).reshape((3,3)),index =['a','b','c'], columns =['Gujarat','Tamil Nadu', 'Kerala']) 

print(fp)

   Gujarat  Tamil Nadu  Kerala
a        0           1       2
b        3           4       5
c        6           7       8


## Dropping entries from an axis

In [116]:
er = pd.Series(np.arange(5), index =['a','b','c','d','e']) 
print(er) 
temp = er.drop(['a','b']) #drop - method will return a new object  with values deleted from an axis 
print(temp)

a    0
b    1
c    2
d    3
e    4
dtype: int32
c    2
d    3
e    4
dtype: int32

In [128]:
states ={'State' :['Gujarat', 'Tamil Nadu', ' Andhra', 'Karnataka', 'Kerala'], 
                  'Population': [36, 44, 67,89,34], 
                  'Language' :['Gujarati', 'Tamil', 'Telugu', 'Kannada', 'Malayalam']} 

india = pd.DataFrame(states, columns =['State', 'Population', 'Language'])

In [129]:
print(india)

        State  Population   Language
0     Gujarat          36   Gujarati
1  Tamil Nadu          44      Tamil
2      Andhra          67     Telugu
3   Karnataka          89    Kannada
4      Kerala          34  Malayalam

In [130]:

temp2 = india.drop([0,1])# will drop index 0 and 1

In [131]:
print(temp2)

       State  Population   Language
2     Andhra          67     Telugu
3  Karnataka          89    Kannada
4     Kerala          34  Malayalam

In [134]:
dropInAxis1 = india.drop(['State', 'Population'], axis =1 ) # the function dropped population and state columns. Apply the same concept with axis =0 
print(india)

        State  Population   Language
0     Gujarat          36   Gujarati
1  Tamil Nadu          44      Tamil
2      Andhra          67     Telugu
3   Karnataka          89    Kannada
4      Kerala          34  Malayalam

In [133]:
print(dropInAxis1)

    Language
0   Gujarati
1      Tamil
2     Telugu
3    Kannada
4  Malayalam

In [137]:
print(india)

        State  Population   Language
0     Gujarat          36   Gujarati
1  Tamil Nadu          44      Tamil
2      Andhra          67     Telugu
3   Karnataka          89    Kannada
4      Kerala          34  Malayalam

In [139]:
dropInAxis0 = india.drop([0,1,2,3], axis =0 ) # Apply the same concept with axis =0 

print(dropInAxis0)

    State  Population   Language
4  Kerala          34  Malayalam

## Selection, Indexing and Filtering

In [140]:
var = pd.Series(['Python', 'Java', 'c', 'c++', 'Php'], index =[5,4,3,2,1])
print(var)

5    Python
4      Java
3         c
2       c++
1       Php
dtype: object

In [141]:
print(var[2:4])

3      c
2    c++
dtype: object

In [152]:
li = [1,2,3,4,5,6,7,8,9,10]

print(li[2:4])

[3, 4]

In [153]:
print(india[india['Population'] > 50]) # returns data for population greater than 50

       State  Population Language
2     Andhra          67   Telugu
3  Karnataka          89  Kannada